$background-color-white: white;
$background-color-whitesmoke: whitesmoke ;
$background-color-floralwhite: floralwhite;
$background-color-indianred: indianred;
$background-color-darkred: darkred;
$background-color-firebrick: firebrick;
$background-color-red: red;


$text-color-dimgrey: dimgrey;
$text-color-grey: grey;
$text-color-gray: gray;
$text-color-dimgray: dimgray;
$text-color-darkgrey: darkgrey;
$text-color-black: black;
$text-color-floralwhite: floralwhite;
$color-gainsboro: gainsboro;
$text-color-white: white;
$text-color-red: red;
$text-color-firebrick: firebrick;


$border-color-lightgray: lightgray;
